<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="/images/logo.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Pavitram &mdash; ALL IN ONE</title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
          <div class="menu-bg-wrap">
            <div class="site-navigation">
              <a href="/admindashboard" class="logo m-0 float-start">
                <img
                  src="images/logo.png"
                  style="height: 50px"
                  alt="Image"
                  class="img-fluid"
              /></a>
              <ul
                class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
              >
                <li class="active"><a href="/admindashboard">Home</a></li>
                <li class="has-children">
                  <a href="properties.html">Properties</a>
                  <ul class="dropdown">
                    <li><a href="all_property.html">Buy Property</a></li>
                    <li><a href="all_property.html">Sell Property</a></li>
                    <li><a href="all_property.html">Exchange Property</a></li>
                    </li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="services.html">Services</a>
                  <ul class="dropdown">
                    <li><a href="all_property.html">Maintance</a></li>
                    <li><a href="all_property.html">Contractual Obligations and Considerations</a></li>
                    <li><a href="all_property.html">Financing</a></li>
                    <li><a href="all_property.html">Metarial</a></li>
                    <li><a href="all_property.html">Hiring Process</a></li>
                    <li><a href="all_property.html">online meeting</a></li>
                    <li><a href="all_property.html">online Booking</a></li>
                    </li>
                  </ul>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html" >Contact Us</a></li>
              </ul>
              <a
                href="#"
                class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                data-toggle="collapse"
                data-target="#main-navbar"
              >
                <span></span>
              </a>
            </div>
          </div>
        </div>    
      </nav>
    <div
      class="hero page-inner overlay"
      style="background-image: url('images/hero_bg_1.jpg')"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">AgentData</h1>
            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="/admindashboard">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Agentdata
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-4 mb-5 mb-lg-0"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="contact-info">
              <div class="address mt-2">
                <i class="icon-room"></i>
                <h4 class="mb-2">Location:</h4>
                <p>
                  Indore ,<br />
                  M.P.
                </p>
              </div>

              <div class="open-hours mt-4">
                <i class="icon-clock-o"></i>
                <h4 class="mb-2">Open Hours:</h4>
                <p>
                  Sunday-Friday:<br />
                  9:00 AM - 8:00 PM
                </p>
              </div>

              <div class="email mt-4">
                <i class="icon-envelope"></i>
                <h4 class="mb-2">Email:</h4>
                <p>info@pavitram.in</p>
              </div>

              <div class="phone mt-4">
                <i class="icon-phone"></i>
                <h4 class="mb-2">Call:</h4>
                <p>+91 9165166000</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <form action="#">
              <div class="row">
                <div class="table-container">
                    <h2 style="color: #002147;">All approved Agent Detail</h2><br>
                    <table style="border: 1px solid black; border-collapse: collapse;">
                        <thead>
                            <tr style="background-color: rgb(11, 141, 167);">
                                <th style="color: black; text-align: center;">Name</th>
                                <th style="color: black; text-align: center;">Email</th>
                                <th style="color: black; text-align: center;">mobileNo</th>
                                <th style="color: black; text-align: center;">whatsappNo</th>
                                <th style="color: black; text-align: center;">CreatedAt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                            const filteredUsers = allData.filter(user => user.status === 0 || user.status === 2);
                            if (filteredUsers.length > 0) { 
                                filteredUsers.forEach(user => { 
                            %>
                                <tr>
                                    <td style="border: 1px solid black;"><%= user.fullName %></td>
                                    <td style="border: 1px solid black;"><%= user.email %></td>
                                    <td style="border: 1px solid black;"><%= user.mobileNo %></td>
                                    <td style="border: 1px solid black;"><%= user.whattsappNo %></td>
                                    <td style="border: 1px solid black;">
                                        <% 
                                            const createdAt = new Date(user.createdAt);
                                            const formattedDate = createdAt.toISOString().split('T')[0];
                                            const formattedTime = createdAt.toTimeString().split(' ')[0]; 
                                        %>
                                        <%= formattedDate %> <%= formattedTime %>
                                    </td>
                                </tr>
                            <% }) 
                            } else { %>
                                <tr>
                                    <td colspan="6" style="text-align: center; border: 1px solid black;">No Agent Found</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3>Contact</h3>
              <address>Indore,M.P.</address>
              <ul class="list-unstyled links">
                <li><a href="tel://11234567890">9165166000</a></li>
                <li>
                  <a href="mailto:info@mydomain.com">pavitram@pavitam.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget">
              <h3>Sources</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Partners</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Creative</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
            
        
            </p>
    
          </div>
        </div>
      </div>
    </div>
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
<script>
    function toggleAllCheckboxes() {
        const checkboxes = document.querySelectorAll('.approveCheckbox');
        const selectAll = document.getElementById('selectAll');
        checkboxes.forEach(checkbox => {
            checkbox.checked = selectAll.checked;
        });
    }
    function approveSelectedUsers() {
        const users = Array.from(document.querySelectorAll('.approveCheckbox')).map(cb => ({
            id: cb.dataset.id,
            approvestatus: cb.checked ? 1 : 0
        }));

        if (users.length === 0) {
            alert('No users selected for approval.');
            return;
        }
        fetch('/updateApproval', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ users })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload();
        })
        .catch(error => {
            alert('Failed to update approval status.');
        });
    }
</script>